:root{
  --htmlCss: 100%;
  --htmlCssStr: "100%";
  --js:90%;
  --jsStr:"90%";
  --react:80%;
  --reactStr:"80%";
  --mui:40%;
  --muiStr:"40%";
  --bootstrap:100%;
  --bootstrapStr: "100%";
  --redux:80%;
  --reduxStr:"80%";
  --axios:80%;
  --axiosStr:"80%";
  --styledComponent:90%;
  --styledComponentStr:"90%";
  --sass:80%;
  --sassStr:"80%";
}
.section{
  width: 100%;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding-left:10px;
  margin-bottom: 5%;
}
.about{
  position: inherit;
  width: 50%;
  margin-top:30px;
}
.skills{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: space-around;
  height: fit-content;
}
.about{
  align-self: center;
  padding-right: 10px;
  width: 50vw;
}
.title{
  font-family: 'Raleway' , sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}
.aboutText{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.skillBar h3{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:40px 0 10px 0;
}
.bar{
  position: absolute;
  width: 80% !important;
  height: 5px;
  background-color: #eee;
  margin: 0 0 20px 30px;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
}
.skillBar .bar::after {
  content: "";
  width: 100%;
  height: 100%;
  position: inherit;
  transform-origin: left;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
  background-image: repeating-linear-gradient(45deg, #21008e ,#21008e 5px ,#48ff00 5px, #48ff00 10px);
  background-position:-100% 0;
}
.skillBar .bar::before{
  position:absolute;
  z-index:10;
}

.htmlCss .bar::before{
  content:var(--htmlCssStr);
}
.htmlCss .bar::after{
  width:var(--htmlCss);
  animation:Animhc 1.2s ease-in-out;
  -webkit-animation:Animhc 1.2s ease-in-out;
}
.js .bar::before{
  content:var(--jsStr)
}
.js .bar::after{
  width:var(--js);
  animation:Animjs 1.2s ease-in-out;
  -webkit-animation:Animjs 1.2s ease-in-out;
}
.react .bar::before{
  content:var(--reactStr)
}
.react .bar::after{
  width:var(--react);
  animation:Animrct 1.2s ease-in-out;
  -webkit-animation:Animrct 1.2s ease-in-out;
}
.mui .bar::before{
  content: var(--muiStr)
}
.mui .bar::after{
  width:var(--mui);
  animation:Animmui 1.2s ease-in-out;
  -webkit-animation:Animmui 1.2s ease-in-out;
}
.bootstrap .bar::before{
  content: var(--bootstrapStr)
}
.bootstrap .bar::after{
  width:var(--bootstrap);
  animation:Animboot 1.2s ease-in-out;
  -webkit-animation:Animboot 1.2s ease-in-out;
}
.redux .bar::before{
  content: var(--reduxStr)
}
.redux .bar::after{
  width:var(--redux);
  animation:Animredux 1.2s ease-in-out;
  -webkit-animation:Animredux 1.2s ease-in-out;
}
.axios .bar::before{
  content: var(--axiosStr)
}
.axios .bar::after{
  width: var(--axios);
  animation:Animaxios 1.2s ease-in-out;
  -webkit-animation:Animaxios 1.2s ease-in-out;
}
.styledComponent .bar::before{
  content: var(--styledComponentStr)
}
.styledComponent .bar::after{
  width: var(--styledComponent);
  animation:AnimstyledComponent 1.2s ease-in-out;
  -webkit-animation:AnimstyledComponent 1.2s ease-in-out;
}
.sass .bar::before{
  content: var(--sassStr)
}
.sass .bar::after{
  width: var(--sass);
  animation:Animsass 1.2s ease-in-out;
  -webkit-animation:Animsass 1.2s ease-in-out;
}
@media only screen and (max-width:768px) and (orientation:landscape), only screen and (max-height:768px) and (orientation:portrait) {
  .section{
    flex-direction: column;
    margin-bottom: 30vmax;
    align-items: center;
    justify-content: center;
  }
  .about{
    width: 100%;
    margin-top:10px
  }
  .skills{
    width: 100%;
  }
}
@keyframes Animhc {
  0%{
    width:0;
  }
  100%{
    width:var(--htmlCss);
  }
}
@keyframes Animjs {
  0%{
    width:0;
  }
  100%{
    width:var(--js);
  }
}
@keyframes Animrct {
  0%{
    width:0;
  }
  100%{
    width:var(--react);
  }
}
@keyframes Animmui {
  0%{
    width:0;
  }
  100%{
    width:var(--mui);
  }
}
@keyframes Animboot{
  0%{
    width:0;
  }
  100%{
    width:var(--bootstrap);
  }
}
@keyframes Animredux{
  0%{
    width: 0;
  }
  100%{
    width:var(--redux)
  }
}
@keyframes Animaxios{
  0%{
    width: 0;
  }
  100%{
    width:var(--axios)
  }
}
@keyframes AnimstyledComponent{
  0%{
    width: 0;
  }
  100%{
    width:var(--styledComponent)
  }
}
@keyframes Animsass{
  0%{
    width: 0;
  }
  100%{
    width:var(--sass)
  }
}