:root{
  --htmlCss: 90%;
  --htmlCssStr: "90%";
  --js:90%;
  --jsStr:"90%";
  --react:80%;
  --reactStr:"80%";
  --mui:90%;
  --muiStr:"90%";
  --bootstrap:90%;
  --bootstrapStr: "90%";
  --redux:80%;
  --reduxStr:"80%";
  --api:90%;
  --apiStr:"90%";
  --styledComponent:90%;
  --styledComponentStr:"90%";
  --sass:80%;
  --sassStr:"80%";
  --git:90%;
  --gitStr:"90%";
}
.details{
  width:70%;
  height:fit-content;
  margin: 15px auto 5% auto;
  display: flex;
  padding: 40px;
  font-size:20px;
  box-shadow: 0 2px 4px 1px #414141;
}
.parentItem{
  list-style-type: disc;
}
.parentItem span{
  color:red;
  text-transform: capitalize;
}
.parentItem::first-letter{
  text-transform: capitalize;
}
.childList{
  margin-left:15px;
  margin-bottom: 5px;
}
.childItem{
  font-weight: 100;
}
.childItem::first-letter{
  text-transform: capitalize;
}
.section{
  width: 100%;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding-left:10px;
  padding-bottom: 10%;
}
.about{
  position: inherit;
  width: 50%;
  align-self: center;
  padding-right: 10px;
  width: 50vw;
  margin: 0 40px;
}
.skills{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: space-around;
  height: fit-content;
}
.title{
  font-family: 'Raleway' , sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}
.aboutText{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.skillBar h3{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:40px 0 10px 0;
}
.bar{
  position: absolute;
  width: 80% !important;
  height: 5px;
  background-color: #eee;
  margin: 0 0 20px 30px;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
}
.skillBar .bar::after {
  content: "";
  width: 100%;
  height: 100%;
  position: inherit;
  transform-origin: left;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
  background-image: repeating-linear-gradient(45deg, #21008e ,#21008e 5px ,#48ff00 5px, #48ff00 10px);
  background-position:-100% 0;
}
.skillBar .bar::before{
  position:absolute;
  z-index:10;
}

.htmlCss .bar::before{
  content:var(--htmlCssStr);
}
.htmlCss .bar::after{
  width:var(--htmlCss);
  animation:Animhc 1.2s ease-in-out;
  -webkit-animation:Animhc 1.2s ease-in-out;
}
.js .bar::before{
  content:var(--jsStr)
}
.js .bar::after{
  width:var(--js);
  animation:Animjs 1.2s ease-in-out;
  -webkit-animation:Animjs 1.2s ease-in-out;
}
.react .bar::before{
  content:var(--reactStr)
}
.react .bar::after{
  width:var(--react);
  animation:Animrct 1.2s ease-in-out;
  -webkit-animation:Animrct 1.2s ease-in-out;
}
.mui .bar::before{
  content: var(--muiStr)
}
.mui .bar::after{
  width:var(--mui);
  animation:Animmui 1.2s ease-in-out;
  -webkit-animation:Animmui 1.2s ease-in-out;
}
.bootstrap .bar::before{
  content: var(--bootstrapStr)
}
.bootstrap .bar::after{
  width:var(--bootstrap);
  animation:Animboot 1.2s ease-in-out;
  -webkit-animation:Animboot 1.2s ease-in-out;
}
.redux .bar::before{
  content: var(--reduxStr)
}
.redux .bar::after{
  width:var(--redux);
  animation:Animredux 1.2s ease-in-out;
  -webkit-animation:Animredux 1.2s ease-in-out;
}
.api .bar::before{
  content: var(--apiStr)
}
.api .bar::after{
  width: var(--api);
  animation:Animaxios 1.2s ease-in-out;
  -webkit-animation:Animaxios 1.2s ease-in-out;
}
.styledComponent .bar::before{
  content: var(--styledComponentStr)
}
.styledComponent .bar::after{
  width: var(--styledComponent);
  animation:AnimstyledComponent 1.2s ease-in-out;
  -webkit-animation:AnimstyledComponent 1.2s ease-in-out;
}
.sass .bar::before{
  content: var(--sassStr)
}
.sass .bar::after{
  width: var(--sass);
  animation:Animsass 1.2s ease-in-out;
  -webkit-animation:Animsass 1.2s ease-in-out;
}
.git .bar::before{
  content: var(--gitStr)
}
.git .bar::after{
  width:var(--git);
  animation:AnimGit 1.2s ease-in-out;
  -webkit-animation:AnimGit 1.2s ease-in-out;
}
@media only screen and (max-width:768px) , only screen and(orientation:portrait) {
  .section{
    flex-direction: column;
    margin-bottom: 10%;
    margin-top:5%;
    align-items: center;
    justify-content: center;
  }
  .about{
    width: 100%;
    margin-top:10px;
  }
  .aboutText{
    font-size:20px;
    font-weight: 600;
  }
  .skills{
    width: 100%;
  }
  .details{
    width:90%;
    margin-bottom: 30vmax;
    padding-bottom: 10vh;
    font-size:15px;
  }
}
@keyframes Animhc {
  0%{
    width:0;
  }
  100%{
    width:var(--htmlCss);
  }
}
@keyframes Animjs {
  0%{
    width:0;
  }
  100%{
    width:var(--js);
  }
}
@keyframes Animrct {
  0%{
    width:0;
  }
  100%{
    width:var(--react);
  }
}
@keyframes Animmui {
  0%{
    width:0;
  }
  100%{
    width:var(--mui);
  }
}
@keyframes Animboot{
  0%{
    width:0;
  }
  100%{
    width:var(--bootstrap);
  }
}
@keyframes Animredux{
  0%{
    width: 0;
  }
  100%{
    width:var(--redux)
  }
}
@keyframes Animaxios{
  0%{
    width: 0;
  }
  100%{
    width:var(--api)
  }
}
@keyframes AnimstyledComponent{
  0%{
    width: 0;
  }
  100%{
    width:var(--styledComponent)
  }
}
@keyframes Animsass{
  0%{
    width: 0;
  }
  100%{
    width:var(--sass)
  }
}
@keyframes AnimGit{
  0%{
    width: 0;
  }
  100%{
    width:var(--git)
  }
}