.section{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding-bottom: 30vh;
}
.infoList{
  display: flex;
  justify-content:center;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.info{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(.5rem, 15vw, 1rem);
}
.info>*{
  margin:0 10px;
  flex-shrink:2
}
.info a{
  color:#717702;
  text-decoration: none;
}
.info a:visited{
  color:#717702;
}
.git{
  align-self: flex-start;
}
.mail{
  font-size: clamp(.2rem, 5vw, 1rem);
}
.emailjs{
  width: 80vw;
}
.chat{
  transform-origin: left;
  transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
}
.form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form label{
  font-family: 'Roboto-Slab', sans-serif;
}
.form :where(textarea, input, button){
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-width: 1px;
}
.userName , .userEmail{
  margin-bottom: 20px;
  padding:5px;
}
.userMessage{
  resize:vertical;
  font-size: 1rem;
  font-weight: 500;
  padding:5px;
  margin-bottom: 10px;
}
.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#FFC815;
  border:none;
  color:#69425a;
  cursor:pointer;
  padding-top:5px;
  padding-bottom: 5px;
  margin-top: 2px;
}
.submit svg{
  margin-left: 5px;
}
.submit:hover{
  background:#ffd446
}
.success{
  text-align: center;
  color:rgb(24, 237, 74);
  width: 100%;
  height: auto;
  min-height: 30px;
}
