.list{
  font-family: 'Titan One', cursive;
  font-weight: lighter;
  width: 40%;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.list li{
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.navbar{
  position:fixed;
  z-index: 99;
  width: 100vw;
  height: auto;
  top:0;
  display: flex;
  justify-content: space-between;
  background:#011936;
  color:#fff;
  user-select: none;
}
.logo{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1{
  margin-left: 20px;
  height: 100%;
}
.logo img{
  height: 100%;
}