.list{
  font-family: 'Titan One', cursive;
  font-weight: lighter;
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.list li{
  margin-left: 5px;
  margin-right:5px;
  flex-shrink: 2;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  color: #000;
}
.list li a{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:center;
  align-items:center;
  text-decoration: none;
  letter-spacing: 2px;
  color:inherit !important;
}
.list li a:hover{
  color:rgb(74, 74, 74) !important;
}
.list li svg{
  margin-right: 6px;
}
.list li a:visited{
  color: #000;
}
.navbar{
  position:fixed;
  z-index: 99;
  width: 100vw;
  height: auto;
  top:0;
  display: flex;
  justify-content: space-between;
  background:#FFC815;
  color:#000;
  user-select: none;
}
.logo{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1{
  margin-left: 20px;
  height: 100%;
}
.logo img{
  height: 100%;
}
@media only screen and (max-width:768px) {
  .navbar{
    top:100%;
    transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    -o-transform:translateY(-100%);
  }
  .list{
    justify-content:space-around;
    justify-self: center;
    width: 75%;
  }
  .list li {
    flex-shrink: 2;
  }
  .list li a{
    font-size:clamp(.5rem, 5vw, 4rem) !important;
  }
  .logo h1{
    display: none;
  }
}