@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Slab&family=Titan+One&display=swap');
*,*::after,*:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto Slab', serif;
  overflow-y: scroll;
  background-color:#fff;
}
::-webkit-scrollbar{
  background:white;
  width:8px;
}
::-webkit-scrollbar-thumb{
  background:#FFC815;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
}
::-webkit-scrollbar-thumb:active{
  background: #efbf23;
}